body {
    margin-top: 0px;
    font-family: 'Lato', sans-serif;
}

#topic {
    width: 50%;
    padding: 10px;
    margin: auto;
    border: 8px solid black;
    border-top: 100px;
    text-align: center;
    font-size: 30px;
}


#contention {
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
}

.content {
    width: 20%;
    text-align: center;
}